* {
    margin: 0;
    padding: 0;
}


.main {
    position: relative;
}

.nav {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.logo {
    margin-left: 2vw;
    
}
.navpart2 {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-right: 2vw;
}
.navpart2 h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navpart2 h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.formov {
    display: none;
}





@media only screen and (max-width: 519px) {
   .formov {
    display: block;
   }

   .navpart2 {
    height: 36rem;
    width:43vw;
    background-color: red;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    flex-direction: column;
    display: none;
    
   }

   .navpart2 h4 {
    font-size: 100%;
    z-index: 2;
   }

   .show {
    display: block;
   }
    
}