* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;

}

.logo {
    height: 4rem;
    width: 6rem;

}

/* font-family */
:root {
    --heading: black;
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --helper: #8490ff;
    --bg: rgb(249 249 255);
    --black: black;
    --shodow : box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

html {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family:  'Popins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
}


p {
    color: var(--para);
    line-height:  1.6rem;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
    color: #8490ff;
}

li a{
    color: #8490ff;
    text-decoration: none;
    position: relative;

}

li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0rem;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.2s ease;
    top: 1.3rem;

}

li a:hover::after {
    width: 100%;
    left: 0;
    top: 1.3rem;
    /* left: auto */
}


/* ================================ */
/* Header section starts */
/* ============================= */
.header {
    padding: 0 4.8rem;
    padding-top: 1rem;
    background-color: var(--bg);
    background-color: black;
    /* background-color: red; */

    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;

    
}

li {
    list-style: none;
    text-transform: uppercase;
    color: var(--black);
}



.navbar-list {
    height: 3rem;
    display: flex;
    gap: 48px;


}

a {
    color: var(--black);
    color: white;
}

.navbar-list:link,
.navbar-list:visited {
    display: inline;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    



    
}

.navbar-list:hover{
    color: var(--helper);
    transition: all 0.3s  linear;
}




/* ================================ */
/* reuseuable section starts */
/* ============================= */

.section {
    padding: 9rem;
    /* background-color: #777; */
    
}


.grid {
    display: grid;
    gap: 9rem;
    /* grid-template-columns: repeat(2,1fr); */
}


.grid-two-column {
    grid-template-columns: repeat(2,1fr);    
}

/* ================================ */
/* Hero section starts */
/* ============================= */



.section-hero {
    /* background-color: var(--bg); */
    /* background-color: saddlebrown; */
   
}

.container {
    margin: 0 auto;
}

.heroimage {
    height: 22rem;
    width: 32rem;
    box-shadow: 1rem 1rem 0 0 var(--helper);

    /* border-radius: 50%; */

}
.section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-top-data {
    /* margin-bottom: 1rem; */
    text-transform: uppercase;
}

.hero-heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #8490ff;
    /* margin-bottom: 1rem; */
}


    .hero-para {
    line-height: 2rem;
    /* margin-bottom: 1rem; */
}



/* By default the anchor tage doesnot allowed the height and width and anchor tage is inline element */
.btn {
    /* background-color: var(--black); */
    background-color: var(--helper);
    /* color: var(--bg); */
    padding: 1rem;
    margin-top: 1.2rem;
    width: 6rem;
    display: inline-block;


}

.btn:hover,
.btn:active {
    transition: all ease-in-out;
    background-color: var(--black);

    border-radius: var(--shodow);
}




/* ================================ */
/* bio start section starts */
/* ============================= */

.aboutimage {
    width: 90%;
    /* height: 60rem; */
    align-items: center;
    display: inline-block;
    box-shadow: -1rem -1rem 0 0 var(--helper);
    /* box-shadow: -1rem -1rem 0 0 var(); */

    
}


.para-bio {
font-size: 1.2rem;
}



.common-heading {
    font-size: 3.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
    color: var(--para-tint);
}

.common-heading::before {
    content: '';
    position: absolute;

    left: 27rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--helper);
    top: 4.3rem;
    border-radius: 50%;
    z-index: 100;

}


.common-heading::after {
    content: '';
    position: absolute;
    color: #777;
    /* top: 132%; */
    top: 5rem;
    left: -2rem;
    height: 1px;
    background-color: antiquewhite;
    min-width: 30rem;

}

.btn-downlaod {
    /* background-color: var(--helper); */
    color: white;
    background-color: var(--helper);
    padding: 1rem;
    margin-top: 1.2rem;
    width: 8rem;
    display: inline-block;

}

.bio-progress-bar {

    background-color: var(--para);
    height: 0.8rem;
/* width: 80%; */
border-radius: 10rem;
position: relative;
box-shadow: var(--shodow);
}

.bio-data-status {
    padding: 2.2rem;
    /* gap: 100px; */
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

.bio-progress-bar::before  {
    content: '20%';
    position: absolute;
    top: 1rem;
    right: 0;
    height: 2rem;
    /* border-radius: 50%; */
    width: 2rem;
    background-color: rebeccapurple;
}


.grid-three-column  {
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}


.bio-status h3 {
    color: var(--helper);
}














.p-btn--1 img {
    height: 17rem;
    width: 17rem;
}




/* Line  */

.linehead {
    display: flex;
 justify-content: center;
 align-items: center;
}
.line {
    background-color: var(--para);
    height: 1px;
    width: 80%;
}



/* Image overlay */


.img-overlay  {
position: relative;
overflow: hidden ;
}

.img-overlay img {
    /* background-color: red; */
}

.slide1 {
    background-color: red;
    height: 100%;
    width: 100%;
    z-index: 100;
     /* transform: translateY(123%); */
     position: absolute;
     transition: 0.4s ease-in-out;
 
     /* display: none; */
}

.overlay1:hover > .slide1 {
    background-color: red;
    height: 100%;
    width: 100%;
    z-index: 100;
    transform: translateY(-101%);
     opacity: 0.3rem;
     position: absolute;
     /* display: block; */
     opacity: 0.5;
     display: block;
}

