* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;

}

.logo {
    height: 4rem;
    width: 6rem;

}

/* font-family */
:root {
    --heading: black;
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --helper: #8490ff;
    --bg: rgb(249 249 255);
    --black: black;
    --shodow: box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

html {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Popins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
}


p {
    color: var(--para);
    line-height: 1.6rem;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
    color: #8490ff;
}

li a {
    color: #8490ff;
    text-decoration: none;
    position: relative;

}

li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0rem;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.2s ease;
    top: 1.3rem;

}

li a:hover::after {
    width: 100%;
    left: 0;
    top: 1.3rem;
    /* left: auto */
}


/* ================================ */
/* Header section starts */
/* ============================= */
.header {
    padding: 0 4.8rem;
    padding-top: 1rem;
    background-color: var(--bg);
    background-color: black;
    position: sticky;
    top: 0;
    /* background-color: red; */

    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    z-index: 100;


}

li {
    list-style: none;
    text-transform: uppercase;
    color: var(--black);
}



.navbar-list {
    height: 3rem;
    display: flex;
    gap: 48px;


}

a {
    color: var(--black);
    color: white;
}

.navbar-list:link,
.navbar-list:visited {
    display: inline;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    /* box-shadow: ; */





}

.navbar-list:hover {
    color: var(--helper);
    transition: all 0.3s linear;
}




/* ================================ */
/* reuseuable section starts */
/* ============================= */

.section {
    padding: 9rem;
    /* background-color: #777; */

}


.grid {
    display: grid;
    gap: 9rem;
    /* grid-template-columns: repeat(2,1fr); */
}


.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
}

/* ================================ */
/* Hero section starts */
/* ============================= */



/* .grid */

.container {
    margin: 0 auto;
}

.heroimage {
    height: 22rem;
    border-radius: 5rem;
    width: 32rem;
    box-shadow: 1rem 1rem 0 0 var(--helper);

    /* border-radius: 50%; */

}

.section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-top-data {
    /* margin-bottom: 1rem; */
    text-transform: uppercase;
}

.hero-heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #8490ff;
    /* margin-bottom: 1rem; */
}


.hero-para {
    line-height: 2rem;
    /* margin-bottom: 1rem; */
}



/* By default the anchor tage doesnot allowed the height and width and anchor tage is inline element */
.btn {
    /* background-color: var(--black); */
    background-color: var(--helper);
    /* color: var(--bg); */
    padding: 1rem;
    margin-top: 1.2rem;
    width: 6rem;
    display: inline-block;


}

.btn:hover,
.btn:active {
    transition: all ease-in-out;
    background-color: var(--black);

    border-radius: var(--shodow);
}




/* ================================ */
/* bio start section starts */
/* ============================= */

.aboutimage {
    width: 90%;
    /* height: 60rem; */
    align-items: center;
    display: inline-block;
    border-radius: 5rem;
    height: 33rem;
    box-shadow: -1rem -1rem 0 0 var(--helper);
    /* box-shadow: -1rem -1rem 0 0 var(); */


}


.para-bio {
    /* background-color: red; */
    /* margin-bottom: 22rem; */
    font-size: 1.2rem;
}

/* .container */



.common-heading {
    font-size: 3rem;
    font-weight: 600;
    /* margin-bottom: 6rem; */
    text-transform: capitalize;
    position: relative;
    color: var(--para-tint);
}

.common-heading::before {
    content: '';
    position: absolute;

    left: 27rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--helper);
    top: 3rem;
    border-radius: 50%;
    display: none;
    z-index: 100;

}


.common-heading::after {
    content: '';
    position: absolute;

    /* top: 132%; */
    top: 3.6rem;
    left: -2rem;
    height: 0.2px;
    background-color: white;
    min-width: 30rem;
    display: none;
}

.btn-downlaod {
    /* background-color: var(--helper); */
    color: white;
    background-color: var(--helper);
    padding: 1rem;
    margin-top: 2rem;
    width: 8rem;
    display: inline-block;

}

.bio-progress-bar {

    background-color: var(--para);
    height: 8px;
    /* width: 80%; */
    border-radius: 10rem;
    position: relative;
    box-shadow: var(--shodow);
}

.bio-data-status {
    /* padding: 2.2rem; */
    /* gap: 100px; */
    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.bio-progress-bar::before {
    content: '20%';
    position: absolute;
    top: 1rem;
    right: 0;
    height: 2rem;
    width: 2rem;
    background-color: aliceblue;
}


.grid-three-column {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;


}


.bio-status h3 {
    /* color: var(--helper); */
    color: #fff;
    font-size: 1.2rem;
}














.p-btn--1 img {
    height: 17rem;
    width: 17rem;
}




/* Line  */

.linehead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    background-color: var(--para);
    height: 1px;
    width: 80%;
}



/* Image overlay */


.img-overlay {
    position: relative;

    overflow: hidden;
    height: 12rem;
    /* border-radius: 30% 70% 68% 32% / 30% 31% 69% 70% ; */
    width: 25rem;

}

.img-overlay img {
    width: 25rem;
    height: 12rem;

    /* background-color: red; */
}

.slide {
    background-color: red;
    height: 12rem;
    width: 100%;
    position: absolute;
    top: 22rem;
    transition: 0.3s;
    /* display: none; */
}

.overlay:hover>.slide {
    background-color: red;
    height: 100%;
    width: 100%;
    z-index: 100;
    /* transform: translateY(-101%); */
    top: 0;
    opacity: 0.3rem;
    position: absolute;
    opacity: 0.5;
    text-align: center;
    display: block;
    font-size: 2rem;

}





.mm {
    /* background-color: red; */
    padding: 3rem;
}


.mm div {
    position: relative;
    top: 2rem;
}


.contentt {
    color: aliceblue;

}

.contentt::after {
    content: '';
    /* background-color: red; */
    background-color: #8490ff;
    height: 4px;
    width: 22rem;
    position: absolute;
    font-size: 22rem;
    z-index: 100;
    top: 29px;

}

.content h1 {
    font-size: 4rem;
}


.animatess {

    height: 16rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.animatess div {
    /* width: 12rem; */
    background-color: #777;
    font-size: 6rem;
    text-align: center;
    color: white;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

}

.alltheservices {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 2.2rem;
    /* justify-content: center; */
    /* align-items: center; */
    place-items: center;

    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    z-index: 100;
}

.alltheservices h3 {
    letter-spacing: 3px;

}

.alltheservices div {
    /* border: 2px solid red; */
    border-width: 1px;
    border-style: solid;
    border-color: red blue green yellow;
    border-radius: 2rem;
    /* width: 4rem; */
    box-shadow: 1rem 1rem 1rem var(--helper);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 22rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    flex-direction: column;
    width: 26rem;
    /* border-radius: 30% 70% 43% 57% / 46% 27% 73% 54%; */
    border-radius: 2rem;
    /* Linear means Dono'e t do delay */
    animation: water-waves 3s linear infinite;

}

.alltheservices div:hover {
    border-width: 1rem;
    border-style: solid;
    border-color: red blue green yellow;

}




.alltheservices div p {
    font-size: 1rem;
    word-wrap: break-word;
    width: 21rem;




}

.alltheservices h3 {
    color: #8490ff;
}


.services1 p {
    letter-spacing: 3px;
    font-size: 1rem;
    color: white;
    text-indent: 5px;
}


.mySwiper {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    overflow: hidden;
    padding: 8rem;


}






.swiper-slide {
    flex: 0 0 auto;
    width: 22rem;
    height: 22rem;
    border: 2px solid red;
    border-radius: 2rem;
    /* background-color: red; */
}

.swiper-container {
    display: flex;

    /* flex-direction: column  ; */
}

.maindiv {
    display: flex;
overflow: scroll;
    /* align-items: center; */
    /* border: 1px solid #ccc;  */
    /* width: 50%; */
}

.maindiv::-webkit-scrollbar {
    width: 0;
}


.footerHead {
    /* background-color: red; */
    height: 12rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
}

.heroimag {
    width: 60rem;
    /* Optional: Ensure images don't exceed their parent container */
    height: auto;
    transition: 1s ease-in-out;
    /* Optional: Maintain the aspect ratio of the images */

}


.heroimag:hover {
    width: 62rem;

}

.footerHead div h6:hover {
    background: red;
    cursor: pointer;
    padding: 0.1rem;
    background-color: red;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.socialmedia svg {
    /* font-size: 12rem; */
    color: #8490ff;
    margin-left: 2rem;
}

.call {
    color: rebeccapurple;
}



.swiper-button-prev {
    background-color: white;
    height: 4rem;
    width: 5rem;
    position: relative;
    top: 16rem;
    opacity: 60%;
}

.swiper-button-prev svg {
    background: white;
    cursor: pointer;
}


.swiper-button-next {
    background-color: white;
    height: 4rem;
    width: 5rem;
    position: relative;
    top: 16rem;
    opacity: 60%;

}

.swiper-button-next svg {
    background: white;
    cursor: pointer;
}

.ss {
    width: 100rem;
    height: 32rem;
    background-color: red;
    margin: 2rem;
    /* overflow: scroll; */
    /* max-width: 100%; */
}