{{> header}}
<main>
    <section class="section-hero section">
        <div class="container grid grid-two-column">
            <div class="section-hero-data ">
                <p class="hero-top-data ">this is me</p>
                <h1 class="hero-heading ">Aayush Basnet</h1>
                <p class="hero-para ">I am hero wehre i can learn any things if in takes inter
                    and also in the math
                </p>

                <div>
                    <a href="#" class="btn bg-primary hireme-btn ">Hireme</a>
                </div>
            </div>

            <!-- Hero section right side -->
            <div class="section-hero-image">
                <img src="./image/my.jpg" class="heroimage" alt="this is me aayush basnet">
            </div>

        </div>

    </section>
</main>

<div class="linehead">
    <div class="line"></div>
</div>


<section class="section-hero section">
    <div class="container grid grid-two-column">
        <div class="bio-image">
            <img src="./image/my.jpg" class="aboutimage" alt="this is me aayush basnet">
        </div>

        <div class="bio-data">
            <h2 class="common-heading">my bio data</h2>
            <p class="para-bio">

                ure from 45 BC, making it over 2000 years old. Richard McClintock, a La
                tin professor at Hampden-Sydney College in Virginia, looked up one of the mo
                2.</p>
            <br />

            {{!-- <p class="para-bio">
                ure from 45 BC, making it over 2000 years old. Richard McClintock, a La
            </p> --}}



            <div class="bio-data-status">
                <div class="bio-status">
                    <h3>Design</h3>
                    <div class="bio-progress-bar">
                        {{!-- <span>80%</span> --}}
                    </div>
                </div>

                <div class="bio-status">
                    <h3>HTML</h3>
                    <div class="bio-progress-bar bio-progress-2">
                        {{!-- <span>100%</span> --}}
                    </div>
                </div>


                <div class="bio-status">
                    <h3>JAVASCRIPT</h3>
                    <div class="bio-progress-bar bio-progress-3">
                        {{!-- <span>89%</span> --}}
                    </div>
                </div>


                <div class="bio-status">
                    <h3>MERN</h3>
                    <div class="bio-progress-bar bio-progress-4">
                        {{!-- <span>89%</span> --}}
                    </div>

                </div>

            </div>
            <div class="bio-data-btn">
                <a href="#" download="asdf" class="btn btn-downlaod bg-primary">Download</a>
            </div>

        </div>


    </div>
    </div>


    <div class="allthebuttons d-flex justify-content-center mm flex-column">
        <div class="contentt">
            <h5>My some project</h5>
        </div>

        <div class="buttons d-flex">
            <button class="btn bg-danger me-2 b1">Web</button>
            <button class="btn bg-primary me-2 b2">design</button>
            <button class="btn bg-danger me-2 b3">blogs</button>


        </div>

    </div>

    <div class="container grid grid-three-column portfolio-images">

        <div class="img-overlay p-btn--1">

            <div class="overlay ">
                <img src="./image/my.jpg" alt="myWorks " class="o-1" />

                <div class="slide">
                    <a href="www.facebook.com">Project1</a>
                </div>
            </div>


        </div>


        <div class="img-overlay p-btn--1">

            <div class="overlay">
                <img src="./image/my.jpg" alt="myWorks " class="o-1" />

                <div class="slide">
                    <a href="www.facebook.com">Project1</a>
                </div>
            </div>


        </div>




        <div class="img-overlay p-btn--1">

            <div class="overlay">
                <img src="./image/my.jpg" alt="myWorks " class="o-1" />

                <div class="slide">
                    <a href="www.facebook.com">Project2</a>
                </div>
            </div>


        </div>

        <div class="img-overlay p-btn--1">

            <div class="overlay">
                <img src="./image/my.jpg" alt="myWorks " class="o-1" />

                <div class="slide">
                    <a href="www.facebook.com">Project3</a>
                </div>
            </div>


        </div>
        <div class="img-overlay p-btn--1">

            <div class="overlay">
                <img src="./image/my.jpg" alt="myWorks " class="o-1" />

                <div class="slide">
                    <a href="www.facebook.com">Project4</a>
                </div>
            </div>


        </div>
        <div class="img-overlay p-btn--1">

            <div class="overlay">
                <img src="./image/my.jpg" alt="myWorks " class="o-1" />

                <div class="slide">
                    <a href="www.facebook.com">Project5</a>
                </div>
            </div>


        </div>




    </div>


</section>



<div class="animatess">

    <div class="animate1 bg-danger">100+</div>
    <div class="animate2 bg-primary">200+</div>
    <div class="animate3 bg-success">300+</div>
    <div class="animate4 bg-secondary">400+</div>
</div>



<div class="alltehservices">
    <div class="alltheservices">
        <div class="services1 bg-warning">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-filetype-py bg-warning" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14 4.5V14a2 2 0 0 1-2 2H7v-1h5a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM0 11.85h1.6c.289 0 .533.06.732.179.201.117.355.276.46.477.105.201.158.427.158.677 0 .25-.054.476-.16.677-.106.199-.26.357-.464.474a1.452 1.452 0 0 1-.732.173H.79v1.342H0V11.85Zm2.06 1.714a.795.795 0 0 0 .085-.381c0-.227-.062-.4-.185-.521-.123-.122-.294-.182-.513-.182H.788v1.406h.66a.794.794 0 0 0 .374-.082.574.574 0 0 0 .238-.24Zm2.963.75v1.535H4.23v-1.52L2.89 11.85h.876l.853 1.696h.032l.856-1.696h.855l-1.339 2.464Z" />
            </svg>


            <h3 class="bg-warning">Reactjs</h3>
            <p class="bg-warning">asdbfkjasdbgfjkasdbgajsdbgajksdbgasdgsadg;lmasndlgbnasdjgbsadg
                asdgmlksadnglkasdngjasdbgj

            </p>
        </div>


        <div class="services1 bg-dark ">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-filetype-py bg-dark" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14 4.5V14a2 2 0 0 1-2 2H7v-1h5a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM0 11.85h1.6c.289 0 .533.06.732.179.201.117.355.276.46.477.105.201.158.427.158.677 0 .25-.054.476-.16.677-.106.199-.26.357-.464.474a1.452 1.452 0 0 1-.732.173H.79v1.342H0V11.85Zm2.06 1.714a.795.795 0 0 0 .085-.381c0-.227-.062-.4-.185-.521-.123-.122-.294-.182-.513-.182H.788v1.406h.66a.794.794 0 0 0 .374-.082.574.574 0 0 0 .238-.24Zm2.963.75v1.535H4.23v-1.52L2.89 11.85h.876l.853 1.696h.032l.856-1.696h.855l-1.339 2.464Z" />
            </svg>


            <h3 class="bg-dark">Reactjs</h3>
            <p class="bg-dark">asdbfkjasdbgfjkasdbgajsdbgajksdbgasdgsadg;lmasndlgbnasdjgbsadg

            </p>
        </div>


        <div class="services1 bg-danger ">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-filetype-py bg-danger" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14 4.5V14a2 2 0 0 1-2 2H7v-1h5a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM0 11.85h1.6c.289 0 .533.06.732.179.201.117.355.276.46.477.105.201.158.427.158.677 0 .25-.054.476-.16.677-.106.199-.26.357-.464.474a1.452 1.452 0 0 1-.732.173H.79v1.342H0V11.85Zm2.06 1.714a.795.795 0 0 0 .085-.381c0-.227-.062-.4-.185-.521-.123-.122-.294-.182-.513-.182H.788v1.406h.66a.794.794 0 0 0 .374-.082.574.574 0 0 0 .238-.24Zm2.963.75v1.535H4.23v-1.52L2.89 11.85h.876l.853 1.696h.032l.856-1.696h.855l-1.339 2.464Z" />
            </svg>


            <h3 class="bg-danger"> Reactjs</h3>
            <p class="bg-danger">asdbfkjasdbgfjkasdbgajsdbgajksdbgasdgsadg;lmasndlgbnasdjgbsadg
                asdgmlksadnglkasdngjasdbgjkas

            </p>
        </div>


        <div class="services1 bg-primary">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-filetype-py bg-primary" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14 4.5V14a2 2 0 0 1-2 2H7v-1h5a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM0 11.85h1.6c.289 0 .533.06.732.179.201.117.355.276.46.477.105.201.158.427.158.677 0 .25-.054.476-.16.677-.106.199-.26.357-.464.474a1.452 1.452 0 0 1-.732.173H.79v1.342H0V11.85Zm2.06 1.714a.795.795 0 0 0 .085-.381c0-.227-.062-.4-.185-.521-.123-.122-.294-.182-.513-.182H.788v1.406h.66a.794.794 0 0 0 .374-.082.574.574 0 0 0 .238-.24Zm2.963.75v1.535H4.23v-1.52L2.89 11.85h.876l.853 1.696h.032l.856-1.696h.855l-1.339 2.464Z" />
            </svg>


            <h3 class="bg-primary">Reactjs</h3>
            <p class="bg-primary">asdbfkjasdbgfjkasdbgajsdbgajksdbgasdgsadg;lmasndlgbnasdjgbsadg
                asdgmlksadnglkasdngjasdbgjkasdbgsadbgjksad

            </p>
        </div>


        <div class="services1 bg-success">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-filetype-py bg-success" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14 4.5V14a2 2 0 0 1-2 2H7v-1h5a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM0 11.85h1.6c.289 0 .533.06.732.179.201.117.355.276.46.477.105.201.158.427.158.677 0 .25-.054.476-.16.677-.106.199-.26.357-.464.474a1.452 1.452 0 0 1-.732.173H.79v1.342H0V11.85Zm2.06 1.714a.795.795 0 0 0 .085-.381c0-.227-.062-.4-.185-.521-.123-.122-.294-.182-.513-.182H.788v1.406h.66a.794.794 0 0 0 .374-.082.574.574 0 0 0 .238-.24Zm2.963.75v1.535H4.23v-1.52L2.89 11.85h.876l.853 1.696h.032l.856-1.696h.855l-1.339 2.464Z" />
            </svg>


            <h3 class="bg-success">Reactjs</h3>
            <p class="bg-success">asdbfkjasdbgfjkasdbgajsdbgajksdbgasdgsadg;lmasndlgbnasdjgbsadg
                a
            </p>
        </div>



        <div class="services1 bg-info">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-filetype-py bg-info" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14 4.5V14a2 2 0 0 1-2 2H7v-1h5a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM0 11.85h1.6c.289 0 .533.06.732.179.201.117.355.276.46.477.105.201.158.427.158.677 0 .25-.054.476-.16.677-.106.199-.26.357-.464.474a1.452 1.452 0 0 1-.732.173H.79v1.342H0V11.85Zm2.06 1.714a.795.795 0 0 0 .085-.381c0-.227-.062-.4-.185-.521-.123-.122-.294-.182-.513-.182H.788v1.406h.66a.794.794 0 0 0 .374-.082.574.574 0 0 0 .238-.24Zm2.963.75v1.535H4.23v-1.52L2.89 11.85h.876l.853 1.696h.032l.856-1.696h.855l-1.339 2.464Z" />
            </svg>


            <h3 class="bg-info">Reactjs</h3>
            <p class="bg-info">asdbfkjasdbgfjkasdbgajsdbgajksdbgasdgsadg;lmasndlgbnasdjgbsadg

            </p>
        </div>




    </div>
    {{!-- <img src="" alt=""> --}}

</div>


<div class="swiper-container">



    <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-caret-left-fill"
            viewBox="0 0 16 16">
            <path
                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
        </svg>

    </div>

    <div class="maindiv">
        
        <div class="swiper-wrapper ss">
            <img src="./image/my.jpg" class="heroimag" alt="this is me aayush basnet">

        </div>

        <div class="swiper-wrapper ss">
            <img src="./image/my.jpg" class="heroimag" alt="this is me aayush basnet">

        </div>


        <div class="swiper-wrapper ss">
            <img src="./image/my.jpg" class="heroimag" alt="this is me aayush basnet">

        </div>


        <div class="swiper-wrapper ss">
            <img src="./image/my.jpg" class="heroimag" alt="this is me aayush basnet">

        </div>

        <div class="swiper-wrapper ss">
            <img src="./image/my.jpg" class="heroimag" alt="this is me aayush basnet">

        </div>

        <div class="swiper-wrapper ss">
            <img src="./image/my.jpg" class="heroimag" alt="this is me aayush basnet">

        </div>

        <div class="swiper-wrapper ss">
            <img src="./image/my.jpg" class="heroimag" alt="this is me aayush basnet">

        </div>


        <div class="swiper-wrapper ss">
            <img src="./image/my.jpg" class="heroimag" alt="this is me aayush basnet">

        </div>


        <div class="swiper-wrapper ss">
            <img src="./image/my.jpg" class="heroimag" alt="this is me aayush basnet">

        </div>
    </div>






    <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor"
            class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path
                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
        </svg>
    </div>
</div>




<div class="footerHead">
    <div class="socialmedia">
        <div class="call">
            <h3 class="con">Contact me</h3>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-facebook"
            viewBox="0 0 16 16">
            <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-twitter"
            viewBox="0 0 16 16">
            <path
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-whatsapp"
            viewBox="0 0 16 16">
            <path
                d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z" />
        </svg>
    </div>
    <div class="footer1">
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>

    </div>
    <div class="footer2">
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>


    </div>
    <div class="footer3">
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
        <h6>What you want</h6>
    </div>

</div>




<script>

    const overlay = document.getElementsByClassName('overlay');
    const button1 = document.getElementsByClassName('b1')[0];
    const button2 = document.getElementsByClassName('b2')[0];
    const button3 = document.getElementsByClassName('b3')[0];
    button1.addEventListener('click', () => {
        overlay[0].style.display = 'none'
        overlay[1].style.display = 'none'
        overlay[2].style.display = 'none'
        overlay[3].style.display = 'block'
        overlay[4].style.display = 'block'
        overlay[5].style.display = 'block'
    });

    button2.addEventListener('click', () => {

        overlay[3].style.display = 'none'
        overlay[1].style.display = 'block'
        overlay[2].style.display = 'block'
        overlay[0].style.display = 'block'
        overlay[5].style.display = 'block'
        overlay[6].style.display = 'block'
        overlay[4].style.display = 'none'
    })

    button3.addEventListener('click', () => {

        overlay[2].style.display = 'none'
        overlay[5].style.display = 'none'
        overlay[2].style.display = 'block'
        overlay[0].style.display = 'block'
        overlay[4].style.display = 'none'
        overlay[1].style.display = 'block'
        overlay[1].style.display = 'block'
        overlay[6].style.display = 'block'
    })





</script>
</body>





</html>