
{{> header}}
    <main>
        <section class="section-hero section">
            <div class="container grid grid-two-column">
                <div class="section-hero-data">
                    <p class="hero-top-data">this is me</p>
                    <h1 class="hero-heading">Aayush Basnet</h1> 
                    <p class="hero-para">I am hero wehre i can learn any things if in takes inter
                        and also in the math
                    </p>

                    <div>
                        <a href="#" class="btn hireme-btn ">Hireme</a>
                    </div>
                </div>

                <!-- Hero section right side -->
                <div class="section-hero-image">
                    <img src="./image/my.jpg" class="heroimage" alt="this is me aayush basnet">
                </div>

            </div>

        </section>
    </main>

<div class="linehead">
<div class="line"></div>
</div>


    <section class="section-hero section">
        <div class="container grid grid-two-column">
            <div class="bio-image">
                <img src="./image/my.jpg" class="aboutimage" alt="this is me aayush basnet">
            </div>

            <div class="bio-data">
                <h2 class="common-heading">my bio data</h2>
                <p class="para-bio">

                    ure from 45 BC, making it over 2000 years old. Richard McClintock, a La
                    tin professor at Hampden-Sydney College in Virginia, looked up one of the mo
                    2.</p>
                <br />

                <p class="para-bio">
                    ure from 45 BC, making it over 2000 years old. Richard McClintock, a La
                </p>


                <div class="bio-data-status">
                    <div class="bio-status">
                        <h3>Design</h3>
                        <div class="bio-progress-bar">
                            <span>80%</span>
                        </div>
                    </div>

                    <div class="bio-status">
                        <h3>HTML</h3>
                        <div class="bio-progress-bar bio-progress-2">
                            <span>100%</span>
                        </div>
                    </div>


                    <div class="bio-status">
                        <h3>JAVASCRIPT</h3>
                        <div class="bio-progress-bar bio-progress-3">
                            <span>89%</span>
                        </div>
                    </div>


                    <div class="bio-status">
                        <h3>MERN</h3>
                        <div class="bio-progress-bar bio-progress-4">
                            <span>89%</span>
                        </div>
                    </div>

                </div>
                <div class="bio-data-btn">
                    <a href="#" download="asdf" class="btn-downlaod">Download</a>
                </div>

            </div>


        </div>
        </div>


        <div class="container grid grid-three-column portfolio-images">

            <div class="img-overlay p-btn--1">
           
                <div class="overlay1">
                         <img src="./image/my.jpg" alt="myWorks " class="o-1"/>
                    <a href="www.facebook.com">Project1</a>
                          <div class="slide1"></div>
                </div>
          

            </div>

                    <div class="img-overlay p-btn--1">
                <img src="./image/my.jpg" alt="myWorks"/>
                <div class="overlay">
                    <a href="www.facebook.com" target="adf">Project1</a>
                      <div class="slide"></div>
                </div>

              
            </div>


                    <div class="img-overlay p-btn--1">
                <img src="./image/my.jpg" alt="myWorks"/>
                <div class="overlay">
                    <a href="www.facebook.com">Project1</a>
                      <div class="slide"></div>
                </div>
              

            </div>


                    <div class="img-overlay p-btn--1">
                <img src="./image/my.jpg" alt="myWorks"/>
                <div class="overlay">
                    <a href="www.facebook.com">Project1</a>
                      <div class="slide"></div>
                </div>
              

            </div>


                    <div class="img-overlay p-btn--1">
                <img src="./image/my.jpg" alt="myWorks"/>
                <div class="overlay">
                    <a href="www.facebook.com">Project1</a>
                           <div class="slide">w</div>
                </div>
         
            </div>
        </div>
    </section>

</body>





</html>